:root {
  --text-title-color: hsl(233, 26%, 24%);
  --text-paraph-color: hsl(233, 8%, 62%);
  --lime-blue-color: hsl(192, 70%, 51%);
  --lime-green-color: hsl(136, 65%, 51%);
  --bg-gray-color: hsl(220, 16%, 96%);
  --bg-L-gray-color: hsl(0, 0%, 98%);
  --white-color: hsl(0, 0%, 100%);

}

html {
  scroll-behavior: smooth;
}

*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
}

body {
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: 1440px;
  padding: 0 3rem;
  margin: 0 auto;
}

@media (max-width: 375px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}